.color { 
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 4px;
}
#color-palette {
    margin-top: 10px;
}
#pixel-board {
    margin-top: 20px;
}
.pixel {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 2px;     
}