.color { 
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-left: 8px;

}
#color-palette {
    margin-top: 40px;
}
#pixel-board {
    margin-top: 100px;
}
.pixel {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-left: 2px; 
    
}